n8n_workflows/workflow_update_payload.json
{
    "nodes": [
        {
            "parameters": {
                "name": "cargar_balance_financiero",
                "description": "Herramienta ETL para ingerir archivos Excel o CSV con balances contables, procesar 33 indicadores financieros e inyectarlos en la PostgreSQL del Dashboard.",
                "requireConfirmation": false,
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"record_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID del registro de carga en NocoDB\"\n    },\n    \"empresa_id\": {\n      \"type\": \"number\",\n      \"description\": \"ID numérico de la empresa (Ej. 1 para MAS CONSULTA)\"\n    }\n  },\n  \"required\": [\"record_id\", \"empresa_id\"]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
            "typeVersion": 1,
            "position": [
                0,
                -208
            ],
            "id": "mcp-trigger-1",
            "name": "MCP Server Trigger1"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "liquidity/ingesta",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                100
            ],
            "id": "webhook-ingesta",
            "name": "Webhook NocoDB Ingesta",
            "webhookId": "liquidity-ingesta-webhook"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://datia-liquidity-worker.coaba7.easypanel.host/api/procesar/calc",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ type: $json.type || 'records.after.insert', id: $json.record_id || $json.id || $json.data?.Id, data: { empresa_id: $json.empresa_id || $json.data?.empresa_id || 1 } }) }}",
                "options": {
                    "timeout": 300000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                -50
            ],
            "id": "http-worker",
            "name": "Enviar a Worker API"
        }
    ],
    "connections": {
        "MCP Server Trigger1": {
            "main": [
                [
                    {
                        "node": "Enviar a Worker API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook NocoDB Ingesta": {
            "main": [
                [
                    {
                        "node": "Enviar a Worker API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}